<a href="https://colab.research.google.com/github/DaniilErshov/Python6/blob/main/6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 задание

In [ ]:
table = [114, 12, 14, 10605, 4907, 450]
for b in table:
  if (b % 2 == 0 and b % 3 != 0):
    print(b, "подходит")
  else:
    print(b, "не подходит")

114 не подходит
12 не подходит
14 подходит
10605 не подходит
4907 не подходит
450 не подходит

2 задание

In [ ]:
ten_lst = [int(input("введите число ")) for i in range(1,11)]
k = 0
for i in ten_lst:
  if i > 0 and i % 2 == 0:
    k += 1
print(k)

введите число 1
введите число -2
введите число 3
введите число 4
введите число 5
введите число -5
введите число 7
введите число 6
введите число 4
введите число 3
3

3 задание

In [ ]:
salary = 0
for i in range(1,13):
  print("month: ", i)
  salary += int(input("salary = "))
print(float(salary/121))

month:  1
salary = 12
month:  2
salary = 12
month:  3
salary = 13
month:  4
salary = 14
month:  5
salary = 15
month:  6
salary = 16
month:  7
salary = 17
month:  8
salary = 18
month:  9
salary = 19
month:  10
salary = 20
month:  11
salary = 21
month:  12
salary = 22
16.583333333333332

4 задание

In [ ]:
dist = 0
for i in range(30,36):
  print(i, " заповедник")
  pers = int(input("number of persons = "))
  if pers > 10:
    dist +=1
    print("нарушение")
print("колво нарушений", dist)

30  заповедник
number of persons = 12
нарушение
31  заповедник
number of persons = 2
32  заповедник
number of persons = 13
нарушение
33  заповедник
number of persons = 2
34  заповедник
number of persons = 15
нарушение
35  заповедник
number of persons = 2
колво нарушений 3

5 задание

In [ ]:
n = int(input("n = "))
fac = 1
for i in range(2, n + 1):
  fac *= i
print(str(n) + "! =", fac)

n = 5
5! = 120

6 задание

In [ ]:
n = int(input("n = "))
mark3 = mark4 = mark5 = 0
mark_lst = [int(input("mark = ")) for i in range(1, n + 1)]
for mark in mark_lst:
  if mark == 3:
    mark3 += 1
  if mark == 4:
    mark4 += 1
  if mark == 5:
    mark5 += 1
if mark3 == mark4 == mark5:
  print(" = ")
elif mark3 == max(mark3,mark4, mark5):
  print(3)
elif mark4 == max(mark4, mark5):
  print(4)
else:
  print(5)

n = 3
mark = 3
mark = 4
mark = 5
 =

7 задание

In [ ]:
a = int(input(" a = "))
b = int(input(" b = "))
number = 0
num_lst = [i for i in range(a, b + 1)]
for i in num_lst:
  if i % 3 == 0:
    number += 1
print(number)

 a = 1
 b = 13
4

8 задание

In [ ]:
dv_lst = [i for i in range(10,100) if ((i % 10 * int(i / 10)) * 3 == i)]
print(*dv_lst)

15 24

9 задание

In [ ]:
sal1 = 0
flag = 0
for i in range(1,11):
  sal2 = int(input("chislo = "))
  if sal1 > sal2:
    flag = 1
  sal1 = sal2
if flag == 1: print("не возрастает")
else: print("возрастает")

chislo = 2
chislo = 1
chislo = 3
chislo = 2
chislo = 4
chislo = 5
chislo = 6
chislo = 7
chislo = 8
chislo = 9
не возрастает

10 задание

In [ ]:
n = int(input("n = "))
n_lst = [int(input("chislo = ")) for i in range(1, n)]
for i in range(1,n + 1):
  if i not in n_lst:
    print(i)

n = 5
chislo = 1
chislo = 4
chislo = 3
chislo = 5
2